nz-card{
  width:100%;
}

.cards-container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.repository-info{
  margin: 20px 5px 5px 20px;
}

.stars, .issues{
  margin: 5px 5px 5px 5px;
}

.text{
  margin: 20px 5px 5px 20px;
  font-family: serif;
  font-weight: bold;
}

.name{
  font-weight: bolder;
  color: #1890ff;
}

